.e1_42 { 
	overflow:hidden;
}
.e1_42 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:916px;
	position:absolute;
}
.e1_43 { 
	background-color:rgba(37.00000159442425, 99.00000169873238, 235.0000011920929, 1);
	width:1440px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_43 { 
	border:1px solid rgba(36.03517636656761, 88.17344024777412, 235.01171976327896, 1);
}
.e1_44 { 
	width:40px;
	height:40px;
	position:absolute;
	left:80px;
	top:24px;
}
.e1_46 { 
	width:226px;
	height:16px;
	position:absolute;
	left:1134px;
	top:36px;
}
.e1_47 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:43px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e1_48 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:47px;
	height:16px;
	position:absolute;
	left:79px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e1_49 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:64px;
	height:16px;
	position:absolute;
	left:162px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e11_513 { 
	width:156.00001525878906px;
	height:47.21062469482422px;
	position:absolute;
	left:127px;
	top:24px;
}
.e7_352 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:111.84259796142578px;
	height:45.91176986694336px;
	position:absolute;
	left:2.2737367544323206e-13px;
	top:1.2988566160202026px;
}
.e7_353 { 
	background-color:rgba(36.03517636656761, 88.17344024777412, 235.01171976327896, 1);
	width:45.646270751953125px;
	height:45.85530090332031px;
	position:absolute;
	left:110.35374450683594px;
	top:0px;
}
.e7_353 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e7_274 { 
	width:64px;
	height:64px;
	position:absolute;
	left:-80px;
	top:-13px;
	background-image:url(../../images/cofrinho_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_50 { 
	width:1440px;
	height:739px;
	position:absolute;
	left:0px;
	top:88px;
}
.e1_51 { 
	width:663px;
	height:272px;
	position:absolute;
	left:80px;
	top:233.5px;
}
.e1_52 { 
	width:663px;
	height:272px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_53 { 
	width:663px;
	height:188px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_54 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:663px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:-2;
	line-height:px;
}
.e1_55 { 
	color:rgba(37.00000159442425, 99.00000169873238, 235.0000011920929, 1);
	width:663px;
	height:48px;
	position:absolute;
	left:0px;
	top:140px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-2;
}
.e1_56 { 
	width:282px;
	height:52px;
	position:absolute;
	left:0px;
	top:220px;
}
.e8_511 { 
	background-color:rgba(191.00000381469727, 219.0000021457672, 254.00000005960464, 1);
	width:163px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e8_511 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e1_58 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:99px;
	height:16px;
	position:absolute;
	left:32px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e8_512 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e8_512 { 
	width:107px;
	height:52px;
	position:absolute;
	left:175px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e1_60 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:43px;
	height:16px;
	position:absolute;
	left:32px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e1_67 { 
	border:1px solid rgba(147.00000643730164, 197.0000034570694, 253.0000001192093, 1);
}
.e1_67 { 
	width:663px;
	height:643px;
	position:absolute;
	left:777px;
	top:48px;
}
.e1_68 { 
	background-color:rgba(147.00000643730164, 197.0000034570694, 253.0000001192093, 1);
	width:285.0166931152344px;
	height:414.2441101074219px;
	position:absolute;
	left:10px;
	top:10px;
}
.e1_69 { 
	background-color:rgba(239.00000095367432, 246.0000005364418, 255, 1);
	width:1440px;
	height:89px;
	position:absolute;
	left:0px;
	top:827px;
}
.e1_69 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e1_70 { 
	width:551px;
	height:728px;
	position:absolute;
	left:840px;
	top:-669px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
	background-image:url(../../images/dreamshaper_v7_financial_management_modern_2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_71 { 
	background-color:rgba(104.00000140070915, 95.00000193715096, 212.00000256299973, 1);
	width:376px;
	height:55px;
	position:absolute;
	left:1053px;
	top:-620px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e1_72 { 
	color:rgba(255, 255, 255, 1);
	width:328px;
	height:23px;
	position:absolute;
	left:24px;
	top:16px;
	font-family:Work Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e1_73 { 
	background-color:rgba(104.00000140070915, 95.00000193715096, 212.00000256299973, 1);
	width:212px;
	height:60px;
	position:absolute;
	left:733px;
	top:-92px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e1_74 { 
	color:rgba(255, 255, 255, 1);
	width:137px;
	height:23px;
	position:absolute;
	left:38px;
	top:16px;
	font-family:Work Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}








.e5_231 { 
	overflow:hidden;
}
.e5_231 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:916px;
	position:absolute;
}
.e5_232 { 
	background-color:rgba(37.00000159442425, 99.00000169873238, 235.0000011920929, 1);
	width:538px;
	height:916px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol 5px;
}
.e11_515 { 
	width:247.00001525878906px;
	height:74.75019073486328px;
	position:absolute;
	left:145px;
	top:58px;
}
.e7_276 { 
	width:108px;
	height:108px;
	position:absolute;
	left:61px;
	top:136px;
	background-image:url(../../images/cofrinho_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_346 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:177.0841827392578px;
	height:72.69366455078125px;
	position:absolute;
	left:-1.1368683772161603e-13px;
	top:2.056523323059082px;
}
.e7_347 { 
	background-color:rgba(36.03517636656761, 88.17344024777412, 235.01171976327896, 1);
	width:72.2732925415039px;
	height:72.60425567626953px;
	position:absolute;
	left:174.72671508789062px;
	top:0px;
}
.e7_347 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e5_245 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:354px;
	height:57px;
	position:absolute;
	left:46px;
	top:366px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:-2;
	line-height:px;
}
.e5_246 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:471px;
	height:60px;
	position:absolute;
	left:25px;
	top:550px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:-2;
	line-height:px;
}
.e5_233 { 
	width:891px;
	height:920px;
	position:absolute;
	left:561px;
	top:0px;
}
.e5_234 { 
	background-color:rgba(255, 255, 255, 1);
	width:736px;
	height:732px;
	position:absolute;
	left:78px;
	top:133px;
}
.e5_236 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:736px;
	height:60px;
	position:absolute;
	left:-2px;
	top:68px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:-2;
	line-height:px;
}
.e5_237 { 
	width:159px;
	height:52px;
	position:absolute;
	left:175px;
	top:637px;
}
.e5_241 { 
	background-color:rgba(191.00000381469727, 219.0000021457672, 254.00000005960464, 1);
	width:474px;
	height:77px;
	position:absolute;
	left:129px;
	top:241px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e5_241 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e5_242 { 
	background-color:rgba(191.00000381469727, 219.0000021457672, 254.00000005960464, 1);
	width:474px;
	height:77px;
	position:absolute;
	left:129px;
	top:359px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e5_242 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e5_253 { 
	background-color:rgba(191.00000381469727, 219.0000021457672, 254.00000005960464, 1);
	width:474px;
	height:77px;
	position:absolute;
	left:131px;
	top:477px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e5_253 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e6_255 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:60px;
	height:16px;
	position:absolute;
	left:225px;
	top:508px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_243 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:57px;
	height:16px;
	position:absolute;
	left:225px;
	top:272px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_244 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:61px;
	height:16px;
	position:absolute;
	left:225px;
	top:390px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e11_516 { 
	background-color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:305px;
	height:71px;
	position:absolute;
	left:213px;
	top:618px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e5_240 { 
	color:rgba(255, 255, 255, 1);
	width:267px;
	height:16px;
	position:absolute;
	left:19px;
	top:28px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e6_256 { 
	width:30px;
	height:30px;
	position:absolute;
	left:160px;
	top:265px;
}
.e6_257 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_258 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_259 { 
	background-color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:25px;
	height:25px;
	position:absolute;
	left:5px;
	top:0px;
}
.e6_262 { 
	width:30px;
	height:30px;
	position:absolute;
	left:160px;
	top:501px;
}
.e6_263 { 
	background-color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:20px;
	height:25px;
	position:absolute;
	left:5px;
	top:2.5px;
}
.e6_260 { 
	width:30px;
	height:30px;
	position:absolute;
	left:238px;
	top:516px;
}
.e6_261 { 
	background-color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:25px;
	height:20px;
	position:absolute;
	left:2.5px;
	top:5px;
}
.e6_269 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:471px;
	height:60px;
	position:absolute;
	left:207px;
	top:282px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:-2;
	line-height:px;
}
.e5_252 { 
	width:262px;
	height:107px;
	position:absolute;
	left:138px;
	top:657px;
}
.e11_514 { 
	border:1px solid rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
}
.e11_514 { 
	width:262px;
	height:107px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e5_250 { 
	color:rgba(255, 255, 255, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:0px;
	top:41px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}






.e1_2 { 
	overflow:hidden;
}
.e1_2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:916px;
	position:absolute;
}
.e6_254 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_230 { 
	background-color:rgba(37.00000159442425, 99.00000169873238, 235.0000011920929, 1);
	width:538px;
	height:916px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol 5px;
}
.e11_520 { 
	width:247.00001525878906px;
	height:74.75019073486328px;
	position:absolute;
	left:145px;
	top:58px;
}
.e7_349 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:177.0841827392578px;
	height:72.69366455078125px;
	position:absolute;
	left:-1.1368683772161603e-13px;
	top:2.056523323059082px;
}
.e7_350 { 
	background-color:rgba(36.03517636656761, 88.17344024777412, 235.01171976327896, 1);
	width:72.2732925415039px;
	height:72.60425567626953px;
	position:absolute;
	left:174.72671508789062px;
	top:0px;
}
.e7_350 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e6_264 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:471px;
	height:226px;
	position:absolute;
	left:33px;
	top:205px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:-2;
	line-height:px;
}
.e6_265 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:471px;
	height:60px;
	position:absolute;
	left:33px;
	top:421px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:-2;
	line-height:px;
}
.e11_521 { 
	width:307px;
	height:107px;
	position:absolute;
	left:115px;
	top:664px;
}
.e6_267 { 
	border:1px solid rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
}
.e6_267 { 
	width:307px;
	height:107px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e6_268 { 
	color:rgba(255, 255, 255, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:23px;
	top:41px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}
.e1_12 { 
	width:891px;
	height:920px;
	position:absolute;
	left:549px;
	top:0px;
}
.e1_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:736px;
	height:732px;
	position:absolute;
	left:78px;
	top:133px;
}
.e1_16 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:428px;
	height:60px;
	position:absolute;
	left:154px;
	top:147px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-2;
	line-height:px;
}
.e1_96 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:164px;
	height:30px;
	position:absolute;
	left:381px;
	top:509px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e11_522 { 
	width:159px;
	height:52px;
	position:absolute;
	left:193px;
	top:498px;
}
.e1_21 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e1_21 { 
	width:159px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e1_22 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:100px;
	height:16px;
	position:absolute;
	left:32px;
	top:18px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e1_124 { 
	background-color:rgba(191.00000381469727, 219.0000021457672, 254.00000005960464, 1);
	width:474px;
	height:77px;
	position:absolute;
	left:129px;
	top:241px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e1_124 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e1_126 { 
	background-color:rgba(191.00000381469727, 219.0000021457672, 254.00000005960464, 1);
	width:474px;
	height:77px;
	position:absolute;
	left:129px;
	top:359px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e1_126 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e3_193 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:161px;
	height:16px;
	position:absolute;
	left:173px;
	top:272px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e3_194 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:60px;
	height:16px;
	position:absolute;
	left:173px;
	top:390px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e7_275 { 
	width:105px;
	height:105px;
	position:absolute;
	left:315px;
	top:-23px;
	background-image:url(../../images/cofrinho_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}








.e1_97 { 
	overflow:hidden;
}
.e1_97 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2727px;
	position:absolute;
}
.e1_98 { 
	background-color:rgba(37.00000159442425, 99.00000169873238, 235.0000011920929, 1);
	width:1440px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_98 { 
	border:1px solid rgba(36.03517636656761, 88.17344024777412, 235.01171976327896, 1);
}
.e3_187 { 
	width:39px;
	height:39px;
	position:absolute;
	left:1358px;
	top:24px;
}
.ei3_187_501_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:36.21428680419922px;
	height:36.21428680419922px;
	position:absolute;
	left:1.3928571939468384px;
	top:1.3928571939468384px;
}
.ei3_187_501_399 { 
	border-radius:500px;
	width:30.642858505249023px;
	height:30.642858505249023px;
	position:absolute;
	left:4.1785712242126465px;
	top:4.1785712242126465px;
	background-image:url(../../images/avatar.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e11_523 { 
	width:236.00001525878906px;
	height:64px;
	position:absolute;
	left:47px;
	top:11px;
}
.e7_355 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:111.84259796142578px;
	height:45.91176986694336px;
	position:absolute;
	left:80px;
	top:14.298856735229492px;
}
.e7_356 { 
	background-color:rgba(36.03517636656761, 88.17344024777412, 235.01171976327896, 1);
	width:45.646270751953125px;
	height:45.85530090332031px;
	position:absolute;
	left:190.35374450683594px;
	top:13px;
}
.e7_356 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e7_271 { 
	width:64px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../../images/cofrinho_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_105 { 
	width:1440px;
	height:2640px;
	position:absolute;
	left:0px;
	top:87px;
}
.e8_414 { 
	color:rgba(0, 0, 0, 1);
	width:574px;
	height:457px;
	position:absolute;
	left:795px;
	top:524px;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_425 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:1264px;
	height:244px;
	position:absolute;
	left:105px;
	top:1280px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}
.e3_196 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:1440px;
	height:54px;
	position:absolute;
	left:-1px;
	top:103px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e4_216 { 
	color:rgba(0, 0, 0, 1);
	width:1294px;
	height:84px;
	position:absolute;
	left:75px;
	top:221px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_415 { 
	width:117px;
	height:117px;
	position:absolute;
	left:363px;
	top:51px;
	background-image:url(images/cofrinho_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_426 { 
	width:1319px;
	height:667px;
	position:absolute;
	left:77px;
	top:1476px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_427 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:109px;
	height:40px;
	position:absolute;
	left:42px;
	top:28px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}
.e8_434 { 
	width:489px;
	height:125px;
	position:absolute;
	left:44px;
	top:168px;
}
.e8_429 { 
	color:rgba(0, 0, 0, 1);
	width:114px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_431 { 
	background-color:rgba(255, 255, 255, 1);
	width:489px;
	height:75px;
	position:absolute;
	left:0px;
	top:50px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_431 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e8_435 { 
	width:1211px;
	height:357px;
	position:absolute;
	left:42px;
	top:168px;
}
.e8_436 { 
	color:rgba(0, 0, 0, 1);
	width:194px;
	height:40px;
	position:absolute;
	left:722px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_437 { 
	background-color:rgba(255, 255, 255, 1);
	width:489px;
	height:75px;
	position:absolute;
	left:722px;
	top:50px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_437 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e8_438 { 
	width:1211px;
	height:138px;
	position:absolute;
	left:0px;
	top:219px;
}
.e8_439 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:40px;
	position:absolute;
	left:0px;
	top:13px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_440 { 
	background-color:rgba(255, 255, 255, 1);
	width:489px;
	height:75px;
	position:absolute;
	left:0px;
	top:63px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_440 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e8_441 { 
	width:489px;
	height:125px;
	position:absolute;
	left:722px;
	top:0px;
}
.e8_442 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_443 { 
	background-color:rgba(255, 255, 255, 1);
	width:489px;
	height:75px;
	position:absolute;
	left:0px;
	top:50px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_443 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e8_445 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:120px;
	height:40px;
	position:absolute;
	left:85px;
	top:68px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_446 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:120px;
	height:40px;
	position:absolute;
	left:85px;
	top:300px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_448 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:120px;
	height:40px;
	position:absolute;
	left:796px;
	top:68px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_449 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:120px;
	height:40px;
	position:absolute;
	left:796px;
	top:292px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_453 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:692px;
	height:16px;
	position:absolute;
	left:685px;
	top:600px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e11_524 { 
	background-color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:305px;
	height:71px;
	position:absolute;
	left:975px;
	top:2181px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e8_451 { 
	color:rgba(255, 255, 255, 1);
	width:267px;
	height:16px;
	position:absolute;
	left:19px;
	top:28px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e8_455 { 
	background-color:rgba(37.00000159442425, 99.00000169873238, 235.0000011920929, 1);
	width:1440px;
	height:119px;
	position:absolute;
	left:0px;
	top:2521px;
}
.e11_543 { 
	width:754px;
	height:765px;
	position:absolute;
	left:16px;
	top:413px;
}
.e11_544 { 
	background-color:rgba(255, 255, 255, 1);
	width:569.6788330078125px;
	height:558.3736572265625px;
	position:absolute;
	left:80.70464324951172px;
	top:30.47461700439453px;
	border-top-left-radius:48px;
	border-top-right-radius:48px;
	border-bottom-left-radius:48px;
	border-bottom-right-radius:48px;
}
.e11_544 { 
	border:2px solid rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
}
.e11_545 { 
	background-color:rgba(255, 255, 255, 1);
	width:367.9175720214844px;
	height:467.9328308105469px;
	position:absolute;
	left:386.08251953125px;
	top:297.0671691894531px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e11_545 { 
	border:2px solid rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
}
.e11_547 { 
	border:1.1750881671905518px solid rgba(255, 255, 255, 1);
}
.e11_547 { 
	width:89.01231384277344px;
	height:92.9914321899414px;
	position:absolute;
	left:189.89308166503906px;
	top:156.30551147460938px;
}
.e11_548 { 
	background-color:rgba(255, 255, 255, 1);
	width:161.23431396484375px;
	height:133.55039978027344px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_548 { 
	border:2px solid rgba(2.000000118277967, 2.000000118277967, 2.000000118277967, 1);
}
.e11_549 { 
	border:1.6096665859222412px solid rgba(255, 255, 255, 1);
}
.e11_549 { 
	width:121.93140411376953px;
	height:127.3821029663086px;
	position:absolute;
	left:570.627197265625px;
	top:552.740478515625px;
}
.e7_365 { 
	width:621px;
	height:413px;
	position:absolute;
	left:99px;
	top:602px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
	background-image:url(images/dreamshaper_v7_financial_management_modern_0__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}





.e8_379 { 
	overflow:hidden;
}
.e8_379 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1102px;
	position:absolute;
}
.e8_380 { 
	background-color:rgba(37.00000159442425, 99.00000169873238, 235.0000011920929, 1);
	width:1440px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_380 { 
	border:1px solid rgba(36.03517636656761, 88.17344024777412, 235.01171976327896, 1);
}
.e8_382 { 
	width:39px;
	height:39px;
	position:absolute;
	left:1358px;
	top:24px;
}
.ei8_382_501_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:36.21428680419922px;
	height:36.21428680419922px;
	position:absolute;
	left:1.3928571939468384px;
	top:1.3928571939468384px;
}
.ei8_382_501_399 { 
	border-radius:500px;
	width:30.642858505249023px;
	height:30.642858505249023px;
	position:absolute;
	left:4.1785712242126465px;
	top:4.1785712242126465px;
	background-image:url(../../images/avatar.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e11_525 { 
	width:236.00001525878906px;
	height:64px;
	position:absolute;
	left:47px;
	top:11px;
}
.e8_381 { 
	width:64px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../../images/cofrinho_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_384 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:111.84259796142578px;
	height:45.91176986694336px;
	position:absolute;
	left:80px;
	top:14.298856735229492px;
}
.e8_385 { 
	background-color:rgba(36.03517636656761, 88.17344024777412, 235.01171976327896, 1);
	width:45.646270751953125px;
	height:45.85530090332031px;
	position:absolute;
	left:190.35374450683594px;
	top:13px;
}
.e8_385 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e8_386 { 
	width:1440px;
	height:1015px;
	position:absolute;
	left:0px;
	top:87px;
}
.e8_388 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 0.5);
	width:1440px;
	height:312px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_389 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:1257px;
	height:54px;
	position:absolute;
	left:87px;
	top:102px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e8_390 { 
	color:rgba(0, 0, 0, 1);
	width:1257px;
	height:77px;
	position:absolute;
	left:87px;
	top:195px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_391 { 
	width:1257px;
	height:489px;
	position:absolute;
	left:87px;
	top:332px;
}
.e8_392 { 
	background-color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:223px;
	height:52px;
	position:absolute;
	left:397px;
	top:665px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e8_392 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e8_393 { 
	color:rgba(255, 255, 255, 1);
	width:179px;
	height:16px;
	position:absolute;
	left:32px;
	top:18px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e8_394 { 
	background-color:rgba(255, 255, 255, 1);
	width:773px;
	height:57px;
	position:absolute;
	left:47px;
	top:68px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_394 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e8_395 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:792px;
	height:57px;
	position:absolute;
	left:28px;
	top:211px;
	border-radius:30px;
}
.e8_395 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e8_396 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:16px;
	position:absolute;
	left:33px;
	top:42px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_397 { 
	color:rgba(0, 0, 0, 1);
	width:88px;
	height:16px;
	position:absolute;
	left:28px;
	top:175px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_398 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:16px;
	position:absolute;
	left:982px;
	top:42px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_399 { 
	width:239.37713623046875px;
	height:368.8653869628906px;
	position:absolute;
	left:982px;
	top:97px;
}
.e8_400 { 
	background-color:rgba(255, 255, 255, 1);
	width:239.37713623046875px;
	height:56.865386962890625px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_400 { 
	border:1px solid rgba(216.00000232458115, 29.000000171363354, 29.000000171363354, 1);
}
.e8_402 { 
	background-color:rgba(255, 255, 255, 1);
	width:239.37713623046875px;
	height:56.865386962890625px;
	position:absolute;
	left:0px;
	top:78px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_402 { 
	border:1px solid rgba(232.88672178983688, 128.79411935806274, 6.598504576832056, 1);
}
.e8_457 { 
	background-color:rgba(255, 255, 255, 1);
	width:239.37713623046875px;
	height:56.865386962890625px;
	position:absolute;
	left:0px;
	top:156px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_457 { 
	border:1px solid rgba(2.8410196769982576, 65.90447679162025, 243.51171165704727, 1);
}
.e8_458 { 
	background-color:rgba(255, 255, 255, 1);
	width:239.37713623046875px;
	height:56.865386962890625px;
	position:absolute;
	left:0px;
	top:234px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_458 { 
	border:1px solid rgba(24.264840558171272, 121.32422178983688, 0, 1);
}
.e8_459 { 
	background-color:rgba(255, 255, 255, 1);
	width:239.37713623046875px;
	height:56.865386962890625px;
	position:absolute;
	left:0px;
	top:312px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_459 { 
	border:1px solid rgba(246.9714868068695, 252.01171875, 0, 1);
}
.e8_463 { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:16px;
	position:absolute;
	left:24px;
	top:98px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_464 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:16px;
	position:absolute;
	left:71px;
	top:176px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_465 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:16px;
	position:absolute;
	left:35px;
	top:255px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_466 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:16px;
	position:absolute;
	left:44px;
	top:324px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e8_461 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:16px;
	position:absolute;
	left:1039px;
	top:117px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e11_526 { 
	background-color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:305px;
	height:71px;
	position:absolute;
	left:346px;
	top:735px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e8_469 { 
	color:rgba(255, 255, 255, 1);
	width:267px;
	height:16px;
	position:absolute;
	left:19px;
	top:28px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e8_470 { 
	background-color:rgba(37.00000159442425, 99.00000169873238, 235.0000011920929, 1);
	width:1440px;
	height:75px;
	position:absolute;
	left:0px;
	top:940px;
}


.e16_563 { 
	overflow:hidden;
}
.e16_563 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1102px;
	position:absolute;
}
.e16_564 { 
	background-color:rgba(37.00000159442425, 99.00000169873238, 235.0000011920929, 1);
	width:1440px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_564 { 
	border:1px solid rgba(36.03517636656761, 88.17344024777412, 235.01171976327896, 1);
}
.e16_565 { 
	width:39px;
	height:39px;
	position:absolute;
	left:1358px;
	top:24px;
}
.ei16_565_501_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:36.21428680419922px;
	height:36.21428680419922px;
	position:absolute;
	left:1.3928571939468384px;
	top:1.3928571939468384px;
}
.ei16_565_501_399 { 
	border-radius:500px;
	width:30.642858505249023px;
	height:30.642858505249023px;
	position:absolute;
	left:4.1785712242126465px;
	top:4.1785712242126465px;
	background-image:url(../../images/avatar.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_566 { 
	width:236.00001525878906px;
	height:64px;
	position:absolute;
	left:47px;
	top:11px;
}
.ei16_566_8_381 { 
	width:64px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../../images/cofrinho_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei16_566_8_384 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:111.84259796142578px;
	height:45.91176986694336px;
	position:absolute;
	left:80px;
	top:14.298856735229492px;
}
.ei16_566_8_385 { 
	background-color:rgba(36.03517636656761, 88.17344024777412, 235.01171976327896, 1);
	width:45.646270751953125px;
	height:45.85530090332031px;
	position:absolute;
	left:190.35374450683594px;
	top:13px;
}
.i16_566_8_385 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e16_567 { 
	width:1440px;
	height:1015px;
	position:absolute;
	left:0px;
	top:87px;
}
.e16_568 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 0.5);
	width:1440px;
	height:312px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_569 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:1257px;
	height:54px;
	position:absolute;
	left:87px;
	top:102px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e16_570 { 
	color:rgba(0, 0, 0, 1);
	width:1257px;
	height:37px;
	position:absolute;
	left:87px;
	top:195px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e16_571 { 
	width:1257px;
	height:429px;
	position:absolute;
	left:87px;
	top:283px;
}
.e16_572 { 
	background-color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:223px;
	height:52px;
	position:absolute;
	left:397px;
	top:665px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e16_572 { 
	border:1px solid rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
}
.e16_573 { 
	color:rgba(255, 255, 255, 1);
	width:179px;
	height:16px;
	position:absolute;
	left:32px;
	top:18px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e16_614 { 
	width:1257px;
	height:40px;
	position:absolute;
	left:11px;
	top:22px;
}
.e16_604 { 
	color:rgba(0, 0, 0, 1);
	width:1257px;
	height:32px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e16_609 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1216px;
	top:6px;
}
.e16_610 { 
	background-color:rgba(0, 0, 0, 1);
	width:26.25px;
	height:30px;
	position:absolute;
	left:1.875px;
	top:0px;
}
.e16_605 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1155px;
	top:0px;
}
.e16_606 { 
	width:28.333511352539062px;
	height:28.333511352539062px;
	position:absolute;
	left:6.666666507720947px;
	top:4.999821662902832px;
}
.e16_607 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e16_607 { 
	width:21.66666603088379px;
	height:21.66666603088379px;
	position:absolute;
	left:0px;
	top:6.666844844818115px;
}
.e16_608 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e16_608 { 
	width:20.00017738342285px;
	height:20.00017738342285px;
	position:absolute;
	left:8.333333969116211px;
	top:0px;
}
.e16_679 { 
	width:1257px;
	height:309px;
	position:absolute;
	left:11px;
	top:91px;
}
.e16_680 { 
	color:rgba(0, 0, 0, 1);
	width:1257px;
	height:32px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e16_681 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1216px;
	top:6px;
}
.e16_682 { 
	background-color:rgba(0, 0, 0, 1);
	width:26.25px;
	height:30px;
	position:absolute;
	left:1.875px;
	top:0px;
}
.e16_683 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1155px;
	top:0px;
}
.e16_684 { 
	width:28.333511352539062px;
	height:28.333511352539062px;
	position:absolute;
	left:6.666666507720947px;
	top:4.999821662902832px;
}
.e16_685 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e16_685 { 
	width:21.66666603088379px;
	height:21.66666603088379px;
	position:absolute;
	left:0px;
	top:6.666844844818115px;
}
.e16_686 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e16_686 { 
	width:20.00017738342285px;
	height:20.00017738342285px;
	position:absolute;
	left:8.333333969116211px;
	top:0px;
}
.e16_687 { 
	width:1257px;
	height:243px;
	position:absolute;
	left:0px;
	top:66px;
}
.e16_688 { 
	color:rgba(0, 0, 0, 1);
	width:1257px;
	height:32px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e16_689 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1216px;
	top:6px;
}
.e16_690 { 
	background-color:rgba(0, 0, 0, 1);
	width:26.25px;
	height:30px;
	position:absolute;
	left:1.875px;
	top:0px;
}
.e16_691 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1155px;
	top:0px;
}
.e16_692 { 
	width:28.333511352539062px;
	height:28.333511352539062px;
	position:absolute;
	left:6.666666507720947px;
	top:4.999821662902832px;
}
.e16_693 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e16_693 { 
	width:21.66666603088379px;
	height:21.66666603088379px;
	position:absolute;
	left:0px;
	top:6.666844844818115px;
}
.e16_694 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e16_694 { 
	width:20.00017738342285px;
	height:20.00017738342285px;
	position:absolute;
	left:8.333333969116211px;
	top:0px;
}
.e16_695 { 
	width:1257px;
	height:185px;
	position:absolute;
	left:0px;
	top:58px;
}
.e16_696 { 
	color:rgba(0, 0, 0, 1);
	width:1257px;
	height:32px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e16_697 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1216px;
	top:6px;
}
.e16_698 { 
	background-color:rgba(0, 0, 0, 1);
	width:26.25px;
	height:30px;
	position:absolute;
	left:1.875px;
	top:0px;
}
.e16_699 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1155px;
	top:0px;
}
.e16_700 { 
	width:28.333511352539062px;
	height:28.333511352539062px;
	position:absolute;
	left:6.666666507720947px;
	top:4.999821662902832px;
}
.e16_701 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e16_701 { 
	width:21.66666603088379px;
	height:21.66666603088379px;
	position:absolute;
	left:0px;
	top:6.666844844818115px;
}
.e16_702 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e16_702 { 
	width:20.00017738342285px;
	height:20.00017738342285px;
	position:absolute;
	left:8.333333969116211px;
	top:0px;
}
.e16_703 { 
	width:1257px;
	height:117px;
	position:absolute;
	left:0px;
	top:68px;
}
.e16_704 { 
	color:rgba(0, 0, 0, 1);
	width:1257px;
	height:32px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e16_705 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1216px;
	top:6px;
}
.e16_706 { 
	background-color:rgba(0, 0, 0, 1);
	width:26.25px;
	height:30px;
	position:absolute;
	left:1.875px;
	top:0px;
}
.e16_707 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1155px;
	top:0px;
}
.e16_708 { 
	width:28.333511352539062px;
	height:28.333511352539062px;
	position:absolute;
	left:6.666666507720947px;
	top:4.999821662902832px;
}
.e16_709 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e16_709 { 
	width:21.66666603088379px;
	height:21.66666603088379px;
	position:absolute;
	left:0px;
	top:6.666844844818115px;
}
.e16_710 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e16_710 { 
	width:20.00017738342285px;
	height:20.00017738342285px;
	position:absolute;
	left:8.333333969116211px;
	top:0px;
}
.e16_711 { 
	width:1257px;
	height:40px;
	position:absolute;
	left:0px;
	top:77px;
}
.e16_712 { 
	color:rgba(0, 0, 0, 1);
	width:1257px;
	height:32px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e16_713 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1216px;
	top:6px;
}
.e16_714 { 
	background-color:rgba(0, 0, 0, 1);
	width:26.25px;
	height:30px;
	position:absolute;
	left:1.875px;
	top:0px;
}
.e16_715 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1155px;
	top:0px;
}
.e16_716 { 
	width:28.333511352539062px;
	height:28.333511352539062px;
	position:absolute;
	left:6.666666507720947px;
	top:4.999821662902832px;
}
.e16_717 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e16_717 { 
	width:21.66666603088379px;
	height:21.66666603088379px;
	position:absolute;
	left:0px;
	top:6.666844844818115px;
}
.e16_718 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e16_718 { 
	width:20.00017738342285px;
	height:20.00017738342285px;
	position:absolute;
	left:8.333333969116211px;
	top:0px;
}
.e16_590 { 
	background-color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:305px;
	height:71px;
	position:absolute;
	left:1039px;
	top:797px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.ei16_590_8_469 { 
	color:rgba(255, 255, 255, 1);
	width:267px;
	height:16px;
	position:absolute;
	left:19px;
	top:28px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e16_591 { 
	background-color:rgba(37.00000159442425, 99.00000169873238, 235.0000011920929, 1);
	width:1440px;
	height:75px;
	position:absolute;
	left:0px;
	top:940px;
}




.e8_471 { 
	overflow:hidden;
}
.e8_471 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1102px;
	position:absolute;
}
.e8_472 { 
	background-color:rgba(37.00000159442425, 99.00000169873238, 235.0000011920929, 1);
	width:1440px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_472 { 
	border:1px solid rgba(36.03517636656761, 88.17344024777412, 235.01171976327896, 1);
}
.e8_474 { 
	width:39px;
	height:39px;
	position:absolute;
	left:1358px;
	top:24px;
}
.ei8_474_501_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:36.21428680419922px;
	height:36.21428680419922px;
	position:absolute;
	left:1.3928571939468384px;
	top:1.3928571939468384px;
}
.ei8_474_501_399 { 
	border-radius:500px;
	width:30.642858505249023px;
	height:30.642858505249023px;
	position:absolute;
	left:4.1785712242126465px;
	top:4.1785712242126465px;
	background-image:url(../../images/avatar.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e11_527 { 
	width:236.00001525878906px;
	height:64px;
	position:absolute;
	left:47px;
	top:11px;
}
.e8_476 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:111.84259796142578px;
	height:45.91176986694336px;
	position:absolute;
	left:80px;
	top:14.298856735229492px;
}
.e8_477 { 
	background-color:rgba(36.03517636656761, 88.17344024777412, 235.01171976327896, 1);
	width:45.646270751953125px;
	height:45.85530090332031px;
	position:absolute;
	left:190.35374450683594px;
	top:13px;
}
.e8_477 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e8_473 { 
	width:64px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../../images/cofrinho_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_478 { 
	width:1440px;
	height:1015px;
	position:absolute;
	left:0px;
	top:87px;
}
.e8_509 { 
	background-color:rgba(37.00000159442425, 99.00000169873238, 235.0000011920929, 1);
	width:1440px;
	height:75px;
	position:absolute;
	left:0px;
	top:940px;
}
.e8_510 { 
	width:721px;
	height:940px;
	position:absolute;
	left:30px;
	top:0px;
}
.e11_560 { 
	color:rgba(29.000000171363354, 78.00000295042992, 216.00000232458115, 1);
	width:473px;
	height:30px;
	position:absolute;
	left:26px;
	top:86px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e11_558 { 
	width:378px;
	height:305px;
	position:absolute;
	left:992px;
	top:317px;
	background-image:url(../../images/pie_chart_149727_1280_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_562 { 
	width:859px;
	height:617px;
	position:absolute;
	left:56px;
	top:149px;
	background-image:url(../../images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
